*.bak
*.pdf
*.png
CD: Consultas.md
Cidade: Consulta de Banco de Dados.md
Clinica Dentista: Modelagem e Consultas de Banco de Dados.md
Locadora Repack: Modelagem e Consulta de Banco de Dados.md
